.logo {
    transition: 0.3s;
}

.logo:hover {
    color: var(--main-hover-color);
}

.logo i {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .logo i {
        display: none;
    }
}

.logo span {
    font-weight: bold;
    letter-spacing: 0.8px;
}

@media (max-width: 480px) {
    .logo i {
        display: block;
    }
    .logo span {
        display: none;
    }
}
