.product-data {
    flex: 1;
    flex-direction: column;
}

.product-data .info {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

@media (max-width: 767px) {
    .product-data .info {
        font-size: 23px;
    }
}

.product-data .rating {
    font-weight: bold;
}

.product-data .rating i {
    color: yellow;
}

.product-data .sep {
    width: 3px;
    border-radius: var(--main-border-radius);
    background-color: var(--darker-color);
}

@media (max-width: 767px) {
    .product-data .price > p {
        font-size: 35px;
    }
    .product-data .price .old {
        font-size: 20px;
    }
}

.product-data .actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-data .actions > button {
    border: 2px solid var(--main-color);
    padding: 12px;
    font-size: 20px;
    border-radius: var(--main-border-radius);
    transition: 0.3s;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.product-data .actions > button:hover {
    color: var(--darker-color);
    background-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}

.product-data .actions > button i {
    font-size: 25px;
}

@media (max-width: 767px) {
    .product-data .actions > button {
        flex: 1;
        background-color: var(--main-color);
        color: var(--darker-color);
        font-size: 23px;
        gap: 10px;
    }
    .product-data .actions > button i {
        display: none;
    }
}

.product-data .actions p {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    color: var(--red-color);
}

.product-data .inputs {
    width: fit-content;
    border-radius: var(--main-border-radius);
    background-color: var(--background-color);
    box-shadow: 0 0 4px var(--second-color);
}

.product-data .inputs > * {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .product-data .inputs > * {
        font-size: 25px;
    }
}

.product-data .inputs > *:hover:not(:disabled) {
    color: var(--main-color);
}

.product-data .inputs input {
    text-align: center;
    width: 50px;
    appearance: textfield; /* hide spin buttons in firefox */
    border-inline: 2px solid var(--darker-color);
    background-color: var(--background-color);
}

.product-data input:focus {
    outline: none;
}

.product-data input::-webkit-inner-spin-button,
.product-data input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.product-data .inputs button {
    padding: 5px 10px;
}

.product-data .inputs button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
